.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 50px;
  }
  
  .chat-list {
    display: flex;
    flex-direction: column;
    width: 30%;
  }
  
  .chat-row {
    display: flex;
    padding: 16px;
    cursor: pointer;
    background-color: lightblue;
  }
  
  .chat-row:hover {
    background-color: #f5f5f5;
  }
  
  .chat-row.active {
    background-color: #d9e1e9;
  }
  
  .profile-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 16px;
  }
  
  .chat-info {
    flex: 1;
  }
  
  .username {
    font-weight: bold;
  }
  
  .last-message {
    color: #808080;
    margin-top: 4px;
  }
  
  .time {
    font-size: 14px;
    color: #808080;
    margin-right: 16px;
  }
  
  .message-box {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 16px;
    background-color: #f2f2f2;
    border: 1px solid #d9e1e9;
  }
  
  .messages {
    overflow-y: auto;
  }
  
  .messages p {
    margin-bottom: 8px;
    min-height: 40px;
    word-wrap: break-word;
  }
  
  .profile {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  .send{

  }
  .send button{
    margin-left: 1rem;
  }
  .send input{
    width: 80%;
  }

  .message-container{
    margin-top: 200px;
  }

  .single-message{
    display: flex;
    align-items: flex-end;
  }
 .msg{
  color: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  word-wrap: break-word;
  max-width: 70%;
  display: flex;
  flex-direction: column;
 }

 .times{
  font-size: 0.8rem;
  margin-bottom: 0.25rem;
 }