

.col-lg-8{
  padding: 0;
  box-sizing: border-box;
}
.item {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  color: #333;
  background-color: #f0f0f0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.arrow {
  width: 12px;
  height: 12px;
  border-top: 2px solid #333;
  border-right: 2px solid #333;
  transform: rotate(45deg);
  transition: transform 0.2s ease-in-out;
}

.arrow.expanded {
  transform: rotate(225deg);
}

.details {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
  padding: 0 20px 10px;
}

.details.expanded {
  max-height: 1000px;
}

.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  
}

label {
  margin-bottom: 5px;
}

input {
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #0069d9;
}



